PORT=3000

# PostgreSQL (Parte 2 - Semana 4)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=BDPostgreSQL
PG_USER=postgres
PG_PASSWORD=tu_password_aqui

# MongoDB (Parte 3 - Semana 5)
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=proyecto1_politica
